
<header class="fix_style fixed">

  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" routerLink="">
        <img src="assets/images/portal/logo_01.png" alt="image">
      </a>
      <button class="navbar-toggler collapsed"
      type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <div class="toggle-wrap">
            <span class="toggle-bar"></span>
          </div>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" [ngClass]="direction=='ltr'?'ml-auto': 'mr-auto'">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">{{'portal.home'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" fragment="features"  (click)="navigateToSection('features')">
              {{'portal.Features'|translate}}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/how_it_work">
              {{'portal.howItWork'|translate}}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" fragment="pricing"  (click)="navigateToSection('pricing')">
              {{'portal.pricing'|translate}}
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">
              {{'portal.contactUs'|translate}}
            </a>
          </li>
          <!-- <li class="nav-item cursor-pointer">
            <div class="dropdown">
              <button class="btn text-white dropdown-toggle dropdown_ln" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img [src]="selectedLn" width="20" height="20">
              </button>
              <div class="dropdown-menu cursor-pointer" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="changeCurrentLang('en','assets/images/portal/united-states-flag.svg')">
                  <img with="20" height="20" class="mx-2" src="assets/images/portal/united-states-flag.svg">

                  {{'portal.en'|translate}}
              </a>
                <a class="dropdown-item cursor-pointer" (click)="changeCurrentLang('ar','assets/images/portal/saudi-arabia-flag.svg')">
                  <img with="20" height="20" class="mx-2" src="assets/images/portal/saudi-arabia-flag.svg">

                  {{'portal.ar'|translate}}
                </a>
              </div>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link dark_btn" routerLink="/contact">
              {{'portal.BOOK_A_DEMO' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
