
@import '../shared_variable.scss';

.img-container {
  height: 300px;
}

.img-preview-container{
  height: 200px;
}
#profile-image-uploader-container{
width: 117px;
position: relative;
}


.title{
  color: #32236F;
  font-weight: initial;
}
