
    <div class="main">
      <section class="signup">
          <div class="rest-cont">
              <div class="logo largeLogo">
                  <img src="assets/images/booking/logo-rest-01.png" alt="vendor-logo">
              </div>
          </div>
          <div class="container">

              <div class="signup-content">
                  <h2 class="form-title">
                    {{'payment.Successfull_Payment' | translate}}
                  </h2>
                  <div class="successful-icon"><img src="assets/images/booking/success.gif"></div>
                  <p class="textmuted h5 mb-2 text-center">
                    {{'payment.Thank_you_for_submitting_your_payment' | translate}}
                  </p>

                  <div class="btn form-submit d-block h8">
                    <a class="text-white" routerLink="/survey/review/{{slug}}">
                      {{'payment.Submit_your_review' | translate}}
                    </a>
                  </div>
              </div>
          </div>
          <div class="tableer-footer">
              <p class="tableer-footer-p">
                {{'general.Powered_by'|translate}}:
              </p>
              <a href="https://tableer.co" class="tableer-footer-link">
                      <img src="assets/images/booking/tableer-footer-logo.png" alt="vendor-logo">
              </a>
          </div>
      </section>

  </div>
