<div class="main">
  <section class="signup">
      <div class="rest-cont">
          <div class="logo largeLogo">
              <img src="assets/images/booking/logo-rest-01.png" alt="vendor-logo">
          </div>
      </div>
      <div class="container">
          <div class="signup-content">
              <form method="POST" id="signup-form" class="signup-form">
                  <h2 class="form-title">
                    {{'auth.Create' | translate}} {{'auth.an_account' | translate}}
                  </h2>
                  <div class="form-group">
                      <input type="text" class="form-input" name="name" id="name" placeholder="{{'auth.name' | translate}}" forminputid="field-01">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-input" name="phone" id="phone" placeholder="{{'auth.Mobile' | translate}}" forminputid="field-02">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-input" name="email" id="email" placeholder="{{'auth.Email' | translate}}" forminputid="field-03">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-input" name="password" id="password" placeholder="{{'auth.Password' | translate}}" forminputid="field-04">
                      <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-input" name="re_password" id="re_password" placeholder="{{'auth.Repeat_your_password' | translate}}" forminputid="field-05">
                  </div>
                  <div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                      <label for="agree-term" class="label-agree-term">
                        {{'auth.I_agree_all_statements_in' | translate}}
                        <a class="term-service">
                          {{'auth.Terms_of_service' | translate}}
                        </a>
                      </label>
                  </div>
                  <div class="form-group">
                      <div class="btn form-submit d-block h8" routerLink="/Booking/successfull_booking/{{slug}}">
                        {{'auth.SIGN_UP' | translate}}
                      </div>
                  </div>
              </form>
              <p class="loginhere">
                {{'auth.Already_have_an_account' | translate}} ?
                <a routerLink="/Booking/account_login/{{slug}}" class="loginhere-link">
                  {{'auth.Sign_In_here' | translate}}
                </a>
              </p>
          </div>
      </div>
      <div class="tableer-footer">
          <p class="tableer-footer-p">
              {{'general.Powered_by' | translate}}:
          </p>
          <a href="https://tableer.co" class="tableer-footer-link">
                  <img src="assets/images/booking/tableer-footer-logo.png" alt="vendor-logo">
          </a>
      </div>
  </section>

</div>
