
.contact_page_section .contact_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -150px;
}

.contact_page_section .contact_inner .section_title h2 {
  font-weight: 600;
}

.contact_page_section .contact_inner .contact_form {
  width: 570px;
  padding: 50px 60px;
  border-radius: 22px;
  background-color: #fff;
  box-shadow: 0 4px 10px #EDE9FE;
}

.contact_page_section .contact_inner .contact_form h2 {
  margin-bottom: 0;
}

.contact_page_section .contact_inner .contact_form form {
  margin-top: 30px;
}

.contact_page_section .contact_inner .contact_form form .form-group {
  margin-bottom: 20px;
}

.contact_page_section .contact_inner .contact_form form .form-group .form-control {
  height: 60px;
  padding: 5px 20px;
  color: var(--body-text-purple);
  border: 2px solid #E1DBF4;
  border-radius: 12px;
  font-weight: 500;
}

.contact_page_section .contact_inner .contact_form form .form-group .form-control:focus {
  box-shadow: none;
  border-color: var(--purple);
  color: var(--purple);
}

.contact_page_section .contact_inner .contact_form form .form-group textarea.form-control {
  height: 140px;
  padding-top: 15px;
}

.contact_page_section .contact_inner .contact_form form .term_check {
  display: flex;
  align-items: center;
}

.contact_page_section .contact_inner .contact_form form .term_check input {
  width: 17px;
  height: 17px;
  accent-color: var(--purple);
}

.contact_page_section .contact_inner .contact_form form .term_check label {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 7px;
}

.contact_page_section .contact_inner .contact_form form .form-group button {
  width: 240px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
}

.contact_page_section .contact_inner .contact_info {
  width: 480px;
}

.contact_page_section .contact_inner .contact_info .section_title {
  text-align: left;
  margin-top: 15px;
}

.contact_page_section .contact_inner .contact_info .section_title p a {
  color: var(--purple);
  text-decoration: underline;
}

.contact_page_section .contact_inner .contact_info .btn {
  width: 180px;
  margin: 10px 0 50px 0;
}

.contact_page_section .contact_inner .contact_info .contact_info_list li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact_page_section .contact_inner .contact_info .contact_info_list li:last-child {
  margin-bottom: 0;
}

.contact_page_section .contact_inner .contact_info .contact_info_list li .img {
  width: 65px;
  margin-right: 20px;
}

// .contact_page_section .contact_inner .contact_info .contact_info_list li .text {
//   width: calc(100% - 85px);
// }

.contact_page_section .contact_inner .contact_info .contact_info_list li .text span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #32236F;
}

.contact_page_section .contact_inner .contact_info .contact_info_list li .text p ,
.contact_page_section .contact_inner .contact_info .contact_info_list li .text a {margin: 0;}

.contact_page_section .contact_inner .contact_info .contact_info_list li .text a:hover {
  color: #32236F;
}

.bred_crumb::after {
  content: "";
  background-image: url(../../../../../assets/images/portal/inner_page_banner_overlay.svg);
  position: absolute;
  bottom: -1px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-position: center;
}

.bred_crumb .bred_text h1 {
  color: white;
  font-size: 55px;
  font-weight: 700;
}

.bred_crumb .bred_text h1 + p {
  color: white;
  margin-top: -5px;
}

.bred_crumb .bred_text ul li a, .bred_crumb .bred_text ul li span {
  color: white;
  font-size: 14px;
  transition: .4s all;
}

.bred_crumb .bred_text ul li a:hover {
  text-decoration: underline;
}

.bred_crumb .bred_text ul li {
  margin: 0 5px;
}
.bred_crumb .bred_text ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.bred_crumb .bred_text {
  text-align: center;
}

.row_am {
  padding: 50px 0;
}


.bred_crumb .banner_shape1, .banner_shape2, .banner_shape3 {
  position: absolute; }

.bred_crumb .banner_shape1 {
  top: 200px;
  left: 15%;
  animation: mymove 10s infinite;
}

.bred_crumb .banner_shape2 {
  top: 100px;
  right: 10%;
  animation: mymove 5s infinite;
}

.bred_crumb .banner_shape3 {
  top: 350px;
  right: 20%;
  animation: mymove 3s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}
.section_title h2 span {
  color: #6A49F2;
}

.section_title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #32236F;
}


/* purple button */
.puprple_btn {
  background-color: #6A49F2;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 500;
}

.puprple_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  transition: .6s all;
  z-index: -1;
}

.puprple_btn:hover::before {
  width: 100%;
}

.puprple_btn:hover {
  color: #6A49F2;
}


@media screen and (max-width:1200px) {
  .contact_page_section .contact_inner {margin-top: -120px;}
  .contact_page_section .contact_inner .contact_form {width: 520px; padding: 50px 30px;}
  .contact_page_section .contact_inner .contact_info {width: 350px;}
  .contact_page_section .contact_inner .section_title h2 {font-size: 34px;}
}

@media screen and (max-width:992px) {
  .contact_page_section .contact_inner {flex-direction: column; margin-top: 60px;}
  .contact_page_section .contact_inner .contact_form {width: 100%;}
  .contact_page_section .contact_inner .contact_info {width: 100%; margin-top: 50px;}
}


@media screen and (max-width:767px) {
  .contact_page_section .contact_inner {margin-top: 40px;}
  .contact_page_section .contact_inner .contact_form {padding: 30px 20px;}
  .contact_page_section .contact_inner .section_title h2 {font-size: 24px;}
  .contact_page_section .contact_inner .contact_form form .form-group .form-control {height: 50px; font-size: 14px;}
  .contact_page_section .contact_inner .contact_form form .term_check label {text-align: left; line-height: 1.3;}
  .contact_page_section .contact_inner .contact_form form .term_check {align-items: flex-start;}
  .contact_page_section .contact_inner .contact_info .section_title {text-align: center;}
  .contact_page_section .contact_inner .contact_info .btn {margin-bottom: 30px;}
  .contact_page_section .contact_inner .contact_info .contact_info_list li {flex-direction: column;}
  // .contact_page_section .contact_inner .contact_info .contact_info_list li .img {width: 100%; margin: 0;}
  // .contact_page_section .contact_inner .contact_info .contact_info_list li .text {width: 100%; margin-top: 10px;}
  .contact_page_section .contact_inner .contact_info .contact_info_list li .text span,
  .icon{
    text-align: center;
  }
}
