@import '../../../../../shared/shared_variable.scss';

.dropdown_ln{
  padding: 1px 4px;
  padding: 0px 6px;
  background: #7b5cd7;
  border-radius: 7px;
  color: white !important;
}

.dropdown-menu {
  background: #7b5cd7;
}

.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
  background-color: $dark-purple !important;
  color: white !important;
}
.dropdown-item {
  font-size: 13px;
  color: white;
}

.fa-star,
.fa-meh-rolling-eyes {
  color: white;
  font-size: 12px;
}

.text-fs{
  font-size: 13px;
}
