<app-preloader></app-preloader>

<div class="row bg-white py-3">
  <div class="col-md-12 d-flex justify-content-end">
    <button class="btn bg-primary" (click)="openDialog()">
      {{'admin.Add_Survay' | translate}} +
    </button>
  </div>
  <div class="col-md-12 bg-white py-4 px-4 rounded">
    <app-datatable
      [service]="_survayService"
      [columns]="columns"
      [method]="'listDataTable'"
      [UpdateData]="{ isExist: true }"
      [DeleteIsExist]="true"
      (event)="eventHandler($event)">
    </app-datatable>
  </div>
</div>


<ng-template #addSurvayDialogRef>
  <h2 mat-dialog-title>
    {{'admin.Add_Survay' | translate}}
  </h2>
  <mat-dialog-content class="mat-typography">
    <form class="example-form" id="SurveyForm" [formGroup]="newSurveyForm" (ngSubmit)="addNewSurvey()">
      <div class="row">
        <div class="col-md-12">
          <mat-label>
            {{'admin.Survay_Name' | translate}}
          </mat-label>
          <mat-form-field class="example-full-width w-100">
            <input type="text" matInput formControlName="title"
            [ngClass]="{'is-invalid border-danger':isValid && newSurveyForm.get('title')?.hasError('required')}">
          </mat-form-field>
          <span *ngIf="newSurveyForm.get('title')?.valid && newSurveyForm.get('title').touched || isValid">
            <span class="text-danger text-fs" *ngIf="newSurveyForm.get('title')?.hasError('required')">
              {{'admin.Title_is_Required' | translate}} *
            </span>
          </span>
        </div>
        <div class="col-md-12">
          <div class="d-flex align-items-center">
            <h3 class="mt-3">
              {{'admin.survay_mode' | translate}}
            </h3>
            <div class="dropdown">
              <button class="btn  dropdown-toggle dropdown_ln btn-sm mx-2" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                [innerHTML]="selectedMode">
              </button>
              <div class="dropdown-menu cursor-pointer" aria-labelledby="dropdownMenuButton">
                <ng-container *ngFor="let mode of surveyMode">
                  <a class="dropdown-item" (click)="selectModeFn(mode.id,mode.title)">
                    {{mode.title}}
                  </a>
                </ng-container>


              </div>
            </div>

          </div>
        </div>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>
      {{'general.Cancel' | translate}}
    </button>
    <button class="btn btn-info mx-2" type="submit" form="SurveyForm" cdkFocusInitial>
      {{'general.save' | translate}}
    </button>
  </mat-dialog-actions>
</ng-template>
