
<div class="d-flex justify-content-center oops">
  <div class="mb-3 card oops_container h-100 d-flex justify-content-center align-items-center py-5 px-3">
      <h1 class="text-gray-900 mb-4 text-center opps-title mt-5">
        opps
      </h1>
      <div class="fw-semibold fs-6 font-bold h5 mb-7 text-center">
        We can't find that page

      </div>
      <img src="assets/images/404-error.png" class="theme-light-show" alt="" />
      <div class="mb-5">
          <a (click)="routeToDashboard()" class="btn btn-sm btn-return">
          Return Home
          </a>
      </div>
  </div>

</div>


