.full_bg {
  /*background-image: url(../images/form_bg.png);*/
  background-size: cover;
  background: #6A49F2;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 50px;
}

.signup_section {
  position: relative;
}

.signup_section .back_btn {
  position: absolute;
  left: 0;
  top: 92px;
  color: #fff;
  font-weight: 500;
}

.signup_section .top_part {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

.signup_form {
  width: 570px;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px #00000054;
  background-color: white;
}

.signup_form form {
  padding: 0 60px;
}

.signup_form .section_title {
  padding: 0 15px;
}

.signup_form .section_title h2 {
  font-weight: 600;
}

.signup_form form .form-group {
  margin-bottom: 20px;
}

.signup_form form .form-group .form-control {
  height: 60px;
  padding: 5px 20px;
  color: #3E3F66;
  border: 2px solid #E1DBF4;
  border-radius: 12px;
  font-weight: 500;
}

.signup_form form .form-group .form-control:focus {
  box-shadow: none;
  border-color: #6A49F2;
  color: #6A49F2;
}

.signup_form form .form-group .puprple_btn {
  min-width: 240px;
  display: block;
  margin: 40px auto;
  margin-bottom: 30px;
  font-weight: 600;
}

.signup_form .or_block {
  display: block;
  text-align: center;
  border-bottom: 1px solid #E3E1ED;
}

.signup_form .or_block span {
  position: relative;
  top: 14px;
  padding: 0 5px;
  background-color: var(--bg-white);
  color: #8081AD;
}

.signup_form .or_option {
  text-align: center;
}

.signup_form .or_option > p {
  color: #8081AD;
  margin-top: 30px;
}

.signup_form .or_option .google_btn {
  min-width: 330px;
  border: 2px solid #E1DBF4;
  text-align: center;
  color: var(--body-text-purple);
  padding: 16px;
  border-radius: 100px;
  transition: .4s all;
}

.signup_form .or_option .google_btn:hover {
  border-color: #F6F4FE;
}

.signup_form .or_option .google_btn img {
  margin-right: 20px;
}

.signup_form .or_option p a {
  color: #6A49F2;
  text-decoration: underline;
  transition: .4s all;
}

.signup_form .or_option p a:hover {
  color: #32236F;
}
.section_title h2{
  font-size: 40px;
  font-weight: 700;
  color:#32236F;
}

.section_title h2 span {
  color: #6A49F2;
}

.section_title {
  text-align: center;
}

.fa-arrow-left{
  font-size: 12px;
}

.signup_form form .form-group .puprple_btn {
  min-width: 240px;
  display: block;
  margin: 40px auto;
  margin-bottom: 30px;
  font-weight: 600;
}
.puprple_btn {
  background-color:#6A49F2;
  color: white;
  border-radius: 50px;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 500;
}


@media screen and (max-width:767px) {
  .signup_form {width: calc(100% - 30px); margin: 0 15px;}
  .signup_form form {padding: 0 20px;}
  .signup_form form .form-group .form-control {font-size: 14px; height: 50px;}
  .signup_form .or_option .google_btn {min-width: 275px; padding: 12px 10px;}
  .signup_section .back_btn {top: 15px;}
  .signup_section .top_part {padding-top: 35px; padding-bottom: 35px;}
  .section_title h2 {
    font-size: 24px;
  }
}
