<div class="page_wrapper">

  <app-preloader></app-preloader>


  <app-navbar></app-navbar>

  <div class="bred_crumb">
    <div class="container">
      <!-- shape animation  -->
      <span class="banner_shape1"> <img src="assets/images/portal/banner-shape1.png" alt="image" > </span>
      <span class="banner_shape2"> <img src="assets/images/portal/banner-shape2.png" alt="image" > </span>
      <span class="banner_shape3"> <img src="assets/images/portal/banner-shape3.png" alt="image" > </span>

      <div class="bred_text">
        <h1>How it works?</h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><span>»</span></li>
          <li><a href="#">How it works</a></li>
        </ul>
      </div>
    </div>
  </div>


  <section class="row_am how_it_works" id="how_it_work">
    <div class="container">
      <div class="how_it_inner">
        <div class="section_title  wow fadeInUp" data-wow-delay="100" data-wow-duration="1500">
          <h2><span>Table Reservation</span> - 3 easy steps</h2>
          <p>Allow customers to book a table through all your online channels,<br>tableer will check availability in real time and assign a table automatically.</p>
        </div>
        <div class="step_block">
          <ul>
            <li>
              <div class="step_text wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <h4>Online Channels</h4>
                <p>Allow your customers to book a table through all your online channels</p>
              </div>
              <div class="step_number">
                <h3>01</h3>
              </div>
              <div class="step_img wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-1-1.png" alt="image" >
              </div>
            </li>

            <!-- step -->
            <li>
              <div class="step_text wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <h4>Reservation Details</h4>
                <p>Select the date, available time slot, and number of guests.</p>
              </div>
              <div class="step_number">
                <h3>02</h3>
              </div>
              <div class="step_img wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-1-2.png" alt="image" >
              </div>
            </li>

            <!-- step -->
            <li>
              <div class="step_text wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <h4>Account</h4>
                <p>Create a new account or login if you already have an accout. Also we have the option for the customers to contine as a guest without the need to create an account.</p>
              </div>
              <div class="step_number">
                <h3>03</h3>
              </div>
              <div class="step_img wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-1-3.png" alt="image" >
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>
    <!-- container end -->
  </section>

  <section class="row_am how_it_works" id="how_it_work">
    <!-- container start -->
    <div class="container">
      <div class="how_it_inner">
        <div class="section_title  wow fadeInUp" data-wow-delay="100" data-wow-duration="1500">
          <!-- h2 -->
          <h2><span>Payment</span> - 3 easy steps</h2>
          <!-- p -->
          <p>By scanning a QR code on the table, the customer can pay the bill easily <br>using his mobile phone. Plus some features like bill splitting and Tips.</p>
        </div>
        <div class="step_block">
          <!-- UL -->
          <ul>
            <!-- step -->
            <li>
              <div class="step_text wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <h4>QR code</h4>
                <p>Scanning a QR code on the table</p>
              </div>
              <div class="step_number">
                <h3>01</h3>
              </div>
              <div class="step_img wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-2-1.png" alt="image" >
              </div>
            </li>

            <!-- step -->
            <li>
              <div class="step_text wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <h4>Bill Payment</h4>
                <p>The user will pay the bill using one of the available payment options.</p>
              </div>
              <div class="step_number">
                <h3>02</h3>
              </div>
              <div class="step_img wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-2-2.png" alt="image" >
              </div>
            </li>

            <!-- step -->
            <li>
              <div class="step_text wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <h4>Successful Message</h4>
                <p>A message will appear confirming that the payment was recieveed successfully</p>
              </div>
              <div class="step_number">
                <h3>03</h3>
              </div>
              <div class="step_img wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-2-3.png" alt="image" >
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>
    <!-- container end -->
  </section>


  <section class="row_am how_it_works" id="how_it_work">
    <!-- container start -->
    <div class="container">
      <div class="how_it_inner">
        <div class="section_title wow fadeInUp" data-wow-delay="100" data-wow-duration="1500">
          <!-- h2 -->
          <h2><span>Customers Review</span> - 3 easy steps</h2>
          <!-- p -->
          <p>Customers will be asked to write a review and rate their experience.</p>
        </div>
        <div class="step_block">
          <!-- UL -->
          <ul>
            <!-- step -->
            <li>
              <div class="step_text wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <h4>QR code</h4>
                <p>After scanning the QR code and completing the payment, the user will be redirected to the review section</p>
              </div>
              <div class="step_number">
                <h3>01</h3>
              </div>
              <div class="step_img wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-2-1.png" alt="image" >
              </div>
            </li>

            <!-- step -->
            <li>
              <div class="step_text wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <h4>Review</h4>
                <p>Customers will be asked to write a review and rate their experience.</p>
              </div>
              <div class="step_number">
                <h3>02</h3>
              </div>
              <div class="step_img wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-3-2.png" alt="image" >
              </div>
            </li>

            <!-- step -->
            <li>
              <div class="step_text wow fadeInRight"  data-duration="2500" data-wow-delay="100">
                <h4>Successful Message</h4>
                <p>>A message will appear confirming that the review was submitted successfully</p>
              </div>
              <div class="step_number">
                <h3>03</h3>
              </div>
              <div class="step_img wow fadeInLeft"  data-duration="1500" data-wow-delay="100">
                <img src="assets/images/portal/how-it-works/how-3-3.png" alt="image" >
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>
    <!-- container end -->
  </section>

  <app-footer></app-footer>

</div>
